@import '../scss/variables';

.menu {
    font-family: 'PT Serif', serif;
    padding: 8rem 1rem 6rem;
    position: relative;
    min-height: 700px;
    color: $brown;
    background: no-repeat top/100% url("leaves-bg-top.svg"),
                no-repeat bottom/100% url("leaves-bg-bottom.svg"),
                $pink;
    
    &__h1 {
        margin: 1rem;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
    }

    &__article {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
    }

    &__add {
        font-size: 25px;
        background-color: $brown;
        color: white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    &__add:hover {
        opacity: .85;
        transform: scale(1.1)
    }
    &__add:active {
        opacity: 1;
        transform: scale(1)
    }

    &__item {
        margin-left: 1rem;
        font-size: 23px;
        font-weight: bold;
        flex-grow: 1;
    }
}
