.toggleNavButton {

    //background: no-repeat top/100% url("Nav-button.svg");

    width: 3rem;

    height: 3rem;

    position: absolute;

    top: 20px;

    left: 20px;

    z-index: 3;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 100%;
}

.toggleNavClose {

    //background: no-repeat top/100% url("Nav-button-close.svg");

    width: 3rem;

    height: 3rem;

    position: absolute;

    top: 20px;

    left: 20px;

    z-index: 3;
    background-color: #FFFFFF;
    border-radius: 100%;
    cursor: pointer;
}
