.toggleNavButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 100%;
}

